@{
    ViewBag.Title = "Home Page";
}

<div style="background-image: url(/img/art.jpg); background-position: center center; min-height:560px">
    <div class="jumbotron" style="background-color: transparent; color: #fff">
        <h1>Black Books</h1>
        <p class="lead">Black Books - веб-приложение, предназначенное для работы книжного магазина, обеспечивающее просмотр и хранение информации о книжной продукции и её типах, книжных издательствах и поставщиках, клиентах и заказах, сотрудниках магазина и службах доставки.</p>
    </div>

    <!--<div class="row">
        <div class="col-md-4">
            <h2>Ведение отчётности</h2>
            <p>
                Просматривайте необходимую информацию.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Редактирование данных</h2>
            <p>Добавляйте новые записи, изменяйте устаревшие данные, удаляйте необходимую информацию.</p>
        </div>
        <div class="col-md-4">
            <h2>Аутентификация</h2>
            <p>Регистрируйте новых пользователей.</p>
        </div>
    </div>-->
</div>